<div class="twopeople">
        <div class="container" style="height:200px;">
            <canvas class="illo" width="800" height="800"
                style="max-width: 200px; max-height: 200px; touch-action: none; width: 640px; height: 640px;"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/Justlovesmile/CDN/js/twopeople1.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/Justlovesmile/CDN/js/zdog.dist.js"></script>
        <script id="rendered-js" src="https://cdn.jsdelivr.net/gh/Justlovesmile/CDN/js/twopeople.js"></script>
        <style>
            .twopeople {
                margin: 0;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

```
    canvas {
        display: block;
        margin: 0 auto;
        cursor: move;
    }
      </style>
</div>